[submodule "HIDAPI"]
	path = HIDAPI
	url = git@github.com:mstrthealias/HIDAPI-Qt5.git
[submodule "ui_qt5"]
	path = ui_qt5
	url = git@github.com:mstrthealias/TFC-ui.git
[submodule "nanopb"]
	path = nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "PID"]
	path = teensy_fan_controller/libraries/PID
	url = https://github.com/br3ttb/Arduino-PID-Library.git

