build-*
teensy_fan_controller/src/nanopb.proto
teensy_fan_controller/tools
teensy_fan_controller/teensy3
teensy_fan_controller/libraries/EEPROM
teensy_fan_controller/libraries/nanopb
*.o
*.d
*.hex
*.elf
